body {
    background-color: gainsboro;
}

table.keyboard {
    font: sans-serif;
    font-size: 20px;
    background-color: #dcdcdc;
    width: 200px;
}

h2 {
    text-align: right;
    border: solid gray;
    color: black;
    background-color: gainsboro;
    width: 275px;
    font-size: 15px;
    margin: 2px;
}

tr {
    height: 40px;
    border: 10px solid gray;
}

td {
    max-width: 50px;
    min-width: 50px;
    text-align: center;
}

td.small {
    font-size: 14px;
}

div.border {
    background-color: gainsboro;
    width: 400px;
}

::-webkit-scrollbar {
    display: none;
}