body {
	background-color: #47565f;
}

table.keyboard {
	font: sans-serif;
	font-size: 40px;
	background-color: gray;
	width: 400px;
}

h2 {
	border: solid black;
	color: yellow;
	background-color: black;
	width: 380px;
	font-size: 30px;
	margin: 4px;
}

tr {
	height: 70px;
	border: 20px solid #1c87c9;
}

td {
	width: 70px;
	text-align: center;
}

td.small {
	font-size: 14px;
}

div.border {
	background-color: #47565f;
	width: 400px;
}

::-webkit-scrollbar {
	display: none;
}